<div class="container">
    <!-- Nav -->
    <nav class="main-nav">
        <a class="logo" href="/"><h1>ESC Musanze</h1></a>

        <ul class="right-menu">
            <li><a href="/">Home</a></li>
            <li><a href="/learning">Learning</a></li>
            <li><a href="/staff">Staff</a></li>
            <li><a href="/galley">Galley</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/support">Support</a></li>
        </ul>
    </nav>
</div>