<div class="all-about">
    <h2 class="about">About Notre Dame de l'Etoile.</h2>
    <br>
    <p>
        ECOLE DES SCIENCES DE MUSANZE is a government aided 
        school belonging to the Catholic Diocese of Ruhengeri. 
        It is a school of excellence and reference in sciences 
        in Musanze District and indeed in the whole Northern Province.
    </p>
    <br>
    <a href="/history" class="link">See Historical Background of the school</a>
    <br>
    <br>
    <h3 class="about">SCHOOL’S MISSION:</h3>
    <br>
    <p>
        The main mission of ‘Ecole des Sciences de MUSANZE’ is 
        to provide the nation with young men and ladies scientifically 
        trained and having sound human and spiritual values. The school
        offers the Advanced Level’s certificates in scientific combinations. 
        The holder of such a certificate should be able to attend any 
        university or institution of higher learning without any hindrance.
    </p>
    <br>
    <h3 class="about">SCHOOL VISION:</h3>
    <br>
    <p>
        To excel in the teaching and 
        learning of sciences, where discipline holds the key to all success.
    </p>
    <br>
    <h3 class="about">SCHOOL VALUES:</h3>
    <br>
    <p>
        Integrity, Responsibility, Commitment, Determination, 
        Charity, Innovation, Respect, Punctuality, Hard work and Excellence.
    </p>
    <br>
    <hr>
    <br>
    <h2 class="about">School Motto: Science—Santé—Sagesse</h2>
    <br>
    <h4 class="about">SCIENCE : “SCIENTIA EST POTENTIA”</h4>
    <br>
    <p>
        knowledge is power. So we believe that science given in E.Sc.MUSANZE 
        should be the basis for our students’ ability to brighten their future.
    </p>
    <br>
    <h4 class="about">SANTÉ (Health) :“MENS SANA IN CORPORE SANO”</h4>
    <br>
    <p>
       We want our students to be mentally and 
       physically healthy and we strive towards achieving this goal.
    </p>
    <br>
    <h4 class="about">SAGESSE (Wisdom) :“SCIENCE SANS CONSCIENCE N’EST QUE RUINE DE L’ÂME”</h4>
    <br>
    <p>
       Not only do we want our students to be intelligent but also wise. 
       And we strongly believe that the fear of God is the first step of wisdom. 
       “The way to become wise is to honor the Lord” (Psalms 111:10)
    </p>
</div>
