<div class="all-about">
    <h2 class="about">Historical Background</h2>
    <hr>
    <br>
    <h5>1957: </h5>
    <p>
        The School inception by his lordship aloys BIGIRAMWAMI, the bishop
        of Nyundo Catholic Diocese under the name of "Institut Notre Dame de l'Etoile". at the that
        time the school was entrusted to the care of "FRERES DES ECOLES CHRETIENNES." it
        started as a school of "moniteurs." (N.B: This school before opening its door in Musanze in 1957, had already
        started in BUHAMBE near BYUMBA in 1952-1953 school year)
    </p>
    <br>
    <h5>1964 - 1965: </h5>
    <p>
        Opening of scientific option in addition to pedagogical one. The school
        took a new name "Ecole des Humanites Scientifiques"
    </p>
    <br>
    <h5>1974: </h5>
    <p>
        (At the end of 1973 - 1974 school year). Les Freres des Ecoles Chretiennes left the school and handled it to the 
        Catholic Diocese of Ruhengeri by then the owner of the school.
    </p>
    <br>
    <h5>1974 - 1975: </h5>
    <p>
        The Diocese entrustes the management of the 
        school to a lay person
    </p>
    <br>
    <h5>1975: </h5>
    <p>
       The Diocese entrusted the school to the "Congregation des Freres Maristes." At
       that time it changed the name to "College des Hummanites Modernes"
    </p>
    <br>
    <h5>1981: </h5>
    <p>
        The general scientific training was divided into 
        two braches; "Bio-chimie and Math-Physique". 
    </p>
    <br>
    <h5>1981 - 1982: </h5>
    <p>
        The school got the name of ECOLE THE SCIENCES DE MUSANZE
    </p>
    <br>
    <h5>1986: </h5>
    <p>
        The school which was only for boys, received the first girls
    </p>
    <br>
    <h5>1991: </h5>
    <p>
        Opening of teaching training option "Normale Primaire." Thus, the school took the 
        name of "GROUPE SCOLAIRE DE MUSANZE"
    </p>
    <br>
    <h5>1993: </h5>
    <p>
        The "Freres Maristes" left Musanze, the diocesan priests took over the school
        management
    </p>
    <br>
    <h5>1994(APRIL): </h5>
    <p>
        GENOCIDE of the Tusti in Rwanda. The School Closed its doors
    </p>
    <br>
    <h5>1995(APRIL): </h5>
    <p>
        Reopening of the school, still under the responsibility
        of Ruhengeri Catholic Diocese, but headed by the laity (1995-2002)
    </p>
    <br>
    <h5>2002/2003: </h5>
    <p>
        The school management is re-entrusted to the Diocesan Priests until now. 
        Today the school carries the name of "Ecole des Sciences de Musanze" (E.Sc.M in initials),
        with its baptism name NOTRE DAME DE L'ETOILE.
    </p>
    <br>
    <h3 class="about">SCHOOL LEADERSHIP SINCE ITS FOUNDATION</h3>
    <br>
    <div class="row">
        <div class="card">
            <h4 class="about">LES FRERES DES ECOLES CHRETIENNES</h4>
            <br>
            <h5>1. 1957 - 1964:  <span>Brother Alphonse WILLEMSEN</span></h5>
            <h5>2. 1964 - 1974: <span>Brother KEUST JOSEPH</span></h5>
            <h5>3. 1974 - 1975: <span>Brother Alphonse WILLEMSEN</span></h5>
       </div>
        <div class="card">
            <h4 class="about">LES FRERES DES MARISTES</h4>
            <br>
            <h5>4. 1975 - 1988:  <span>Rev. Brother NKURUNZIZA Pascal </span></h5>
            <h5>2. 1964 - 1974: <span>Rev. Brother NTANGANDA GONZALVE</span></h5>
        </div>
    </div>
</div>