<!-- Showcase -->
<header class="showcase">
  <!-- Swiper -->
  <div class="swiper-container">
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
  </div>

  <h2 class="about">Ecole des science de Musanze</h2>
  <p class="about text">
    ECOLE DES SCIENCES DE MUSANZE is a government aided school belonging to the Catholic Diocese of Ruhengeri. 
    It is a school of excellence and reference in sciences in Musanze District and indeed in the whole Northern Province.....
  </p>
  <a href="/about" class="btn">
    Read More
  </a>
</header>

<br>

<section class="home-cards">
  <div>
    <img src="/images/card2.png" alt="Computer Labs" />
    <h3>Computer Labs</h3>
    <p>
      Ecole des science des Musanze has a Modern Labs  for 
      students that helps them when learning ICT or
      doing research.
    </p>
    <a href="#" class="btn">
    Learn More
    </a>
  </div>
  <div>
    <img src="/images/Library.png" alt="Modern Library" />
    <h3>Modern Library</h3>
    <p>
      We have a well equipped with new books for different 
      subjects. Our Library provides relevant information and resources
      that helps our students in learning.
    </p>
    <a href="#" class="btn">
    Learn More
    </a>
  </div>
  <div>
    <img src="/images/culture.png" alt="Cultural Troupe" />
    <h3>Cultural  Troupe</h3>
    <p>
      A dance troupe of Ecole des science de Musanze is a group of dancers
      and associated personnel who work together to dances as a spectacle
      or entertainment for other students.
    </p>
    <a href="#" class="btn">
    Learn More
    </a>
  </div>
</section>

<h2 class="about text">Latest From The School</h2>

<section class="home-card">
  <div>
    <h3>School Calendar 2020</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur 
      adipisicing elit. Sint, perspiciatis quis sit nulla 
      soluta possimus molestiae minus quibusdam vel fugiat.
      Lorem ipsum dolor sit amet.
      Lorem ipsum dolor sit, amet consectetur.....
    </p>
    <a href="#" class="btn">
    Read More
    </a>
  </div>
  <div>
    <h3>Internal Rules or Regulations</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur 
      adipisicing elit. Sint, perspiciatis quis sit nulla 
      soluta possimus molestiae minus quibusdam vel fugiat.
      Lorem ipsum dolor sit amet.
      Lorem ipsum dolor sit, amet consectetur.....
    </p>
    
    <a href="#" class="btn">
    Read More
    </a>
  </div>
</section>

<style>
  .swiper-container {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }
</style>