<div class="row">
  <div class="card">
    <img src="/images/e-learning.png" alt="Computer Labs" />
    <a href="/e-learning" class="link"><h3>E-Learning</h3></a>
    <p>
      Download Books and exercises that will 
      help you with your learning
    </p>
  </div>

  <div class="card">
    <h3 class="link">Combinations</h3>
    <p>
      The school has got four Combinations namely: 
      O’L (Ordinary Level), MCB, PCB and PCM; and the 
      subject taught are as follows, with respect to the 
      new curriculum known as Competence Based Curriculum (CBC)
    </p>

    <br>

    <a href="/tests-and-evaluations" class="link"><h3>Tests and Evaluations</h3></a>
    <p>
      In terms of Evaluation, 
      the school uses mainly three types of evaluation:
      <br>
      <li>Predictive evaluation</li>
      <li>Formative Evaluation</li>
      <li>Summative Evaluation</li>
    </p>
  </div>

  <div class="card">
    <a href="/labs-and-library" class="link"><h3>Laboratories and Library</h3></a>
    <p>
      At ESC Musanze we have two computer Labs, Chemistry Lab, Biology Lab 
      and a Physics Lab and a Modern Libary that have all books and resources 
      needed in learning.
    </p>

    <br>

    <a href="/comptence-base-currilum" class="link"><h3>Competence Based Curriculum</h3></a>
    <p>
      The Curriculum for Rwandan schools at primary and secondary levels has been 
      changed from knowledge and content-based to competence-based. Competence-Based 
      Education (CBE) is of great importance in aligning Rwanda’s education to the 
      social and economic demands of society.
    </p>
  </div>

  <div class="card">
    <a href="/descipline" class="link"><h3>Discipline</h3></a>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
     Id non adipisci praesentium magnam maiores quos, natus culpa 
     deserunt saepe sit unde, 
     officia ipsa cumque? Iure labore voluptas maiores blanditiis aliquam.
    </p>

    <br>

    <a href="/sports" class="link"><h3>Sports at School</h3></a>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
     Id non adipisci praesentium magnam maiores quos, natus culpa 
     deserunt saepe sit unde, 
     officia ipsa cumque? Iure labore voluptas maiores blanditiis aliquam.
    </p>
  </div>
</div>