<hr>
<h1 class="about">Competence Based Curriculum</h1>
<br>
<p>
    The Curriculum for Rwandan schools at 
    primary and secondary levels has been changed 
    from knowledge and content-based to competence-based. 
    Competence-Based Education (CBE) is of great importance 
    in aligning Rwanda’s education to the social and economic 
    demands of society. The CBE also presents answers to 
    concerns about the capability and employability of school graduates.
</p>
<br>
<p>
    The introduction of a competence-based curriculum in
    schools calls for comprehensive change and new thinking 
    with regard to instructional 
    approaches in teaching, learning and assessment processes.
</p>
<br>
<p>
    The teacher is the most important player in 
    improving education quality 
    and a key factor in determining learners’ success.
</p>
<br>
<h4 class="about">The Curriculum Vision</h4>
<br>
<p>
    Taking into account national policies, 
    the East African Community Protocol, the national context, 
    the views of stakeholders, the learner profiles and the range of 
    objectives, the following curriculum vision has been agreed: 
    “The vision of Rwanda is to establish an inspiring 21st century 
    curriculum, optimizing the potential of all learners and enabling 
    every young Rwandan to make a valuable contribution to the sustained growth of the nation.”
</p>

<br>
<h4 class="about">The Curriculum Aims</h4>
<br>
<p>
    The vision determines the aims for the curriculum and for learners. 
    These aims define what the nation envisions its young people to be by
    the time they leave education and the nature of
    curriculum that will bring this about. Curriculum Aims and Objectives
</p>
<br>
<p>
    To ensure the Curriculum:
</p>
<br>
<p>
    <li>Is engaging, dynamic and aligned to the future employment needs of the nation and the global economy</li>
    <li>Challenges all young people to optimize their achievement</li>
    <li>Promotes standards comparable with the highest internationally in terms of competencies, knowledge and skills.
    Student Aims and Objectives</li>
</p>

<br>
<p>
    To develop students as:
</p>
<br>
<p>
    <li>Patriotic and responsible citizens, ready to play a full part in society</li>
    <li> Confident and self-reliant people, ready to take their place in the labor market</li>
    <li>Successful life-long learners, ready to adapt to new situations, and be agents of change</li>
    <li>Creative and innovative individuals who are curious, adaptive and productive</li>
</p>

<br>
<h4 class="about">The Curriculum Values</h4>
<br>
<p>
    The Rwandan curriculum is underpinned by the values that 
    represent the basic beliefs of the nation. These basic values 
    permeate the curriculum and all the processes of schooling and 
    which students will also develop. The ‘Curriculum Values’ are 
    those that underpin the curriculum 
    itself and which determine the nature of the subject syllabi.
</p>
<br>
<p>Curriculum Values</p>
<br>
<p>
    Excellence, aspiration and optimism; Equity 
    and inclusiveness; Learner-centredness; Openness and transparency; 
    The importance of family Rwandan culture and heritage
</p>
<br>
<p>Basic Values</p>
<br>
<p>
    Dignity and integrity; Self reliance; 
    National and cultural identity; Peace and tolerance; 
    Justice; Respect for others and for human rights; 
    Solidarity and democracy; Patriotism; Hard work, ommitment and Resilience
</p>
<br>
<p>Phasing of Implementation of the Curriculum</p>
<br>
<p>
    The implementation of the curriculum will be such 
    that learners study the complete three year programme 
    in each stage of schooling before they sit the new national 
    examinations aligned 
    to the new curriculum. Thus, implementation will be done as follows:
</p>
<br>
<li>
  In the year 2016, the curriculum was introduced in S1 and S4.
</li>
<li>
    In the year 2017, the curriculum will be introduced in S2 and S5.
</li>
<li>
    In the year 2018, the curriculum will be introduced in S3 and S6.
</li>