<hr>
<h1 class="about">Discipline is the key to all success.</h1>

<br>
<h4 class="about">Discipline Staff</h4>
<br>
<p>
    The office is headed by both discipline master and mistress.
    They are aided by a team of five animators particularly in 
    charge of sports, library, music, infirmary, and academic animator.
</p>
<br>
<h4 class="about">Internal rules or regulations. ( reglement d’ordre interieur)</h4>
<br>
<p>
    
The school has its internal rules or regulations (ROI) 
which are revised every year in order to fit the students and time for the smooth 
running of the school and the integral education of its members.
</p>
<br>
<h4 class="about">RELIGION</h4>
<br>
<p>
    As rooted in the school’s mission, spiritual growth is an essential 
    aspect of our formation. With this regard, we allow and encourage our 
    students and all members of our school community to pray while 
    respecting their different beliefs. Prayers are scheduled as follows:
</p>
<br>
<h5>CATHOLICS: Sunday from 10h00 to 12h00</h5>
<br>
<h5>RAJEPRA: Sunday from 10h00 to 12h00</h5>
<br>
<h5>ADVENTISTS: Saturday from 10h00 to 12h00</h5>
<br>
<h5>ISLAM: Friday from 13:00 – 13:50</h5>

<br>
<p>
    Besides this official time, our students are also encouraged
    to pray at any free time. The school has got a 
    small chapel which is always opened to welcoming them.
    <br>
    There is Holy Mass within the school four times a week at 6:30 AM
    <br>
    On first Friday of each month, there is ADORATION
</p>
<br>
<p>
    The school organizes recollections (once a very term) 
    for students and once a year for working staff.
</p>
<br>
<h4 class="about">CULTURE</h4>
<p>
    The school loves Rwandan culture and always strives 
    to preserving it. It is through school’s ITORERO called 
    IMBANGUKANABINGWI and CLUB OF “UMUCO N’UBUTWARI” that our 
    school continues to impart Rwandan cultural 
    values into her students and the rest of her whole community.
</p>