<hr>
<h2 class="about">School Classes</h2>
<br>
<div class="row">
  <div class="card">
    <h3>Ordinary Level</h3>
    <ul>
        <li><a class="link" href="#">Senior One-(S1)</a></li>
        <li><a class="link" href="#">Senior Two-(S2)</a></li>
        <li><a class="link" href="#">Senior Three-(S3)</a></li>
    </ul>
  </div>

  <div class="card">
    <h3 class="about">S4 (Senior Four)</h3>
    <ul>
      <li><a class="comb link" href="#">PCM</a></li>
      <li><a class="comb link" href="#">PCB</a></li>
      <li><a class="comb link" href="#">MCB</a></li>
    </ul>
    
  </div>
  <div class="card">
    <h3 class="about">S5 (Senior Five)</h3>
    <ul>
      <li><a class="comb link" href="#">PCM</a></li>
      <li><a class="comb link" href="#">PCB</a></li>
      <li><a class="comb link" href="#">MCB</a></li>
    </ul>
  </div>

  <div class="card">
    <h3 class="about">S6 (Senior Six)</h3>
    <ul>
      <li><a class="comb link" href="#">PCM</a></li>
      <li><a class="comb link" href="#">PCB</a></li>
      <li><a class="comb link" href="#">MCB</a></li>
    </ul>
  </div>
</div>