<hr>
<h1 class="about">Laboratories and Library</h1>
<br>
<h3 class="about">LIBRARY</h3>
<p> 
    The school in conjunction with parents (School general assembly) 
    started building a sizeable library in 2010 which was completed in 2014. 
    It is a library which can accommodate a good number of students at once. 
    It was built at the right time and so far it has tremendously improved the 
    academic performance of our students. 
    To optimize its use is the goal of the school.
</p>

<br>
<h3 class="about">Computer Labs</h3>

<p>
    The school has got one of the best computer laboratories 
    that one can find in secondary schools in Rwanda. 
    Though we have no combination that has computer as its main subject, 
    our students receive a very strong foundation in ICT. In 2015, 
    REB helped the school to get connected to Fiber Optic and now the school 
    internet connection all the time. Also the School has two smart classrooms 
    where each contains 50 laptops
    Now our students and teachers have full access to different digital 
    documentations via different online platforms.
</p>

<br>
<h3 class="about">SCIENCES LABORATORIES</h3>
<p>
    The school has three sciences laboratories. 
    These are for Biology, Chemistry and Physics. 
    These are new laboratories which were built in 2014 to replace the old ones 
    which had been there for more than 30 years.
</p>