<hr>
<h1 class="about">SPORTS AND LEISURE</h1>
<br>
<p>
    Sports help students relax, strengthen student’s relationships 
    among themselves, with teachers, and administrative staff and help 
    students enjoy school life together while feeling at home. We have 
    sports activities on daily basis after classes. You may refer to the 
    daily calendar to know sports time. Sports are divided into volleyball, 
    basketball, Netball, Hand ball, Football, 
    Traditional dance, athletics and rugby which is in its elementary phase.
</p>

<br>
<h4 class="about">Star League</h4>
<br>
<p>
    Besides ordinary sporting activities, 
    our school has introduced since 2009, 
    what is known as STAR LEAGUE. This is a league 
    that brings together all the students in different 
    disciplines. Every student is obliged to register in 
    one of the following disciplines: Volleyball, Basketball, 
    Net ball, Handball, Rugby and Football. And to make sure 
    every student participates, no team is allowed to have more 
    than three substitutes. At the end of the tournament, the best
    two teams in each discipline are given trophies and other awards.
    GYM TONIC (“Gym tonic like”) This is another way that our school 
    uses to make sure all students do sport. And since young people like 
    music, this type of sport has 
    always a high turn up. It is done on Fridays after classes.
</p>
<br>
<h4 class="about">LEISURE</h4>
<br>
<p>
    At end of the learning, we have leisure 
    activities to help students beat tiredness due 
    to courses and course works. This is because changing 
    activities helps students beat studies boredom. With this 
    regard, on all Saturdays from 20h30 to 21h30 we have evening shows. 
    These evening shows are prepared 
    by students according to their classes, clubs and movements.
</p>
