<hr>
<h1 class="about">Tests and Evaluations</h1>
<br>

<p>
    In terms of Evaluation, the school uses mainly three 
    types of evaluation: 
</p>
<br>
<h5 class="about">Predictive Evaluation</h5>

<p>
    This is the type of evaluation which is done prior to the 
    training and used to determine a level at which a learner can 
    master a given type of learning. In this case, we provide such 
    evaluation tests at the beginning of each and every term so as to 
    help teachers know how ready students come from holidays, 
    and therefore know where to start with the new term.
</p>

<br>
<h5 class="about">Formative Evaluation</h5>

<p>
    This is the type of evaluation where the teacher puts 
    the judgment on learning any time during the lesson and 
    with the aim of helping learners to improve in the learning process.
    Such evaluation tests are given to students on a daily basis according 
    to the teacher’s organization so as to evaluate the level at which his/her 
    course is being understood. The teacher is free to announce to students when 
    the test is to be done so that they get prepared, or can he/she improvise 
    during the lesson to check how much 
    the students are following the course.
</p>

<br>
<h5 class="about">Summative Evaluation</h5>

<p>
   This is the type of evaluation where the 
   teacher makes a judgment on the learning in terms 
   of the learning process and does it in the form of a balance sheet, 
   in evaluating the knowledge that a student has acquired during the 
   course or during one stage of the course. For this type of 
   evaluation, we have two categories of tests:
</p> 

<br>
<p>
     <strong>Mid-term tests:</strong> as scheduled in the term school calendar, 
    these types of tests are done in the middle of each term to help 
    students and teachers locate strengths and weaknesses in each subject 
    course and try to find remedial 
    solutions where necessary for the remaining half of the term.
</p>
<br>

<p>
     <strong>End-of-term/End-of-year tests:</strong> these are 
    tests done at the end of the term/year so as to evaluate
     and make decisions on who is able to 
    pass to next grade and who is advised to repeat the grade.
</p>